/** @format */

// .tox-tinymce {
//   margin: 20px;
// }

.fullEditor {
  height: 100vh;
  // #mytextarea {
  //   width: 100vw;
  //   height: 100vh;
  // }
  .right {
    width: 30vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    .ant-tree {
      height: 50vh;
      overflow-y: auto;
    }
    .to_md {
      height: 50vh;
      overflow-y: auto;
    }
  }
}
